In [2]:
# Data Pre-Processing - Job listing Dataset 
# Import necessary packages
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [4]:
# Reading the csv file as input
jobs = pd.read_csv("./data/Indeed_Jobs_listing.csv")

In [5]:
# Data Cleaning
# Processing hourly wage
jobs['salary'] = jobs.loc[:,'salary_formatted'].str.extract('([\d,]+)')

# Remove the comma values from the salary 
jobs['salary'] = jobs['salary'].str.replace(',','')

# Replace all the NaN to zero values
jobs['salary'] = jobs['salary'].replace(np.nan, 0)

# Convert the salary to hourly wage
def hourly_wage(x, salary, h):
    if(len(str(x[salary])) >= 5):
        x[h] = int(x[salary])/(40*52)
    elif(len(str(x[salary])) == 4):
         x[h] = int(x[salary])/(40*4)
    else:
         x[h] = int(x[salary])
    return x

jobs = jobs.apply(lambda x: hourly_wage(x, 'salary', 'hourly_wage'), axis=1)

In [6]:
jobs[['country', 'job_title', 'company_name', 'hourly_wage']]

,country,job_title,company_name,hourly_wage
0,US,"Analyst, Treasury – Banking Retail",The Estée Lauder Companies,0.000000
1,US,Store Associate/ Food Service Associate - Saco...,Harry's Convenience Stores,14.000000
2,US,Cloud Architect,Accenture,0.000000
3,US,Maintenance Technician - $30+/hr Day Shift (El...,Techo-Bloc,30.000000
4,US,IT Senior Support Manager,Michael Page,0.000000
5,US,Drain Cleaning Technician,NaN,18.000000
6,US,"Major Gift Officer, The Michigan Theater Found...",The Michigan Theater Foundation,32.692308
7,US,Senior Project Engineer (Transportation - Design),McMahon Associates,0.000000
8,US,Design Verification Manager,Amazon Kuiper Manufacturing,0.000000
9,US,Senior Analyst Statistical Operations (US Remo...,Humanity,0.000000
10,US,Customer Service Associate - Temporary,WALGREENS,0.000000
11,US,"Director of Development, Cleveland","Facing History and Ourselves, Inc",0.000000
12,US,Transportation Engineer/Project Manager,The EADS Group,0.000000
13,US,Home Decor Sales Representative,3 Day Blinds,44.230769
14,US,Youth Equipment & TA Manager,New York Film Academy Inc,18.750000
15,US,Cable Technician,Insight Global,0.000000
16,US,Ophthalmic Technician,The Eye Care Institute,16.000000
17,US,"Senior Engineer, Firmware",Aura,0.000000
18,US,Client Relationship Consultant 3 (Banker) - Ma...,U.S. Bank,0.000000
19,US,Marketing & Sales Coordinator Supervisor - $15/hr,Six Flags Over Georgia,15.000000
20,US,"Senior Analyst, Third Party Risk Management",Deloitte,0.000000
21,US,Field Install Trainer,LeafFilter,0.000000
22,US,"Bar Manager: Copper, Big Sky","Copper Whiskey Bar & Grill, Bozeman",28.846154
23,US,Amazon Delivery Associate Driver $19.25-$23.00...,BL McShipping Corp,19.000000
24,US,Software Business Analyst,BECHT,0.000000
25,US,Technical Architect,Outland,48.076923
26,US,Jockey Driver (Non-CDL),Rail Management Services,15.000000
27,US,Staff Accountant,Robert Half,27.000000
28,US,Physician job: Locums Gastroenterology Job in ...,NaN,0.000000
29,US,Assistant Property Manager,Brookfield Properties,0.000000

In [8]:
# Data Pre-Processing - resumes_indeed_com-job_sample dataset
resume = pd.read_csv("./data/resumes_indeed_com-job_sample.csv")

In [9]:
# Locate the country corresponding to the given state/city
resume['place'] = resume.loc[:,'Location'].str.extract('([\w\s]+)')

geolocator = Nominatim(user_agent = "geoapi")

def country_search(x, p, c):
    place = geolocator.geocode(p)
    country = (place.raw['display_name']).split(',')
    x[c] = country[3].strip()
    return x

resume = resume.apply(lambda x: country_search(x, 'place', 'country'), axis=1)

In [ ]:
# Education qualification

In [ ]:
# Relevant work experience

In [10]:
# Data Cleaning
resume[['Resume Title', 'country', 'Education', 'Work Experience']]

,Resume Title,country,Education,Work Experience
0,Sales Manager,France métropolitaine,B.A.-History-Franklin Pierce University-Rindge...,"Sales Manager-MadgeTech, Inc-August 2015 to Fe..."
1,Implementation Engineer,France métropolitaine,"--ShoreTel University-Austin, TX|Master-PC & N...",Implementation Engineer-Versatile Communicatio...
2,Education Information Dissemination Coordinator,France métropolitaine,"Bachelor's-Management-Regis College-Weston, MA",Education Information Dissemination Coordinato...
3,Engineering Department Intern,France métropolitaine,Bachelor of Science-Civil and Environmental En...,Engineering Department Intern-Town of Billeric...
4,Pack and Ship/SORT Technician,France métropolitaine,BS-Information Technology-University of Massac...,Pack and Ship/SORT Technician-Intel Corporatio...
5,BDC Data Analyst,France métropolitaine,Bachelor of Science-Psychology-University of P...,BDC Data Analyst-Gary Rome Auto Group-January ...
6,Safety Engineer Intern,France métropolitaine,Master of Science-Systems Engineering-UNIVERSI...,Safety Engineer Intern-Hexagon Manufacturing I...
7,Classified Ads Manager,France métropolitaine,NaN,Classified Ads Manager-Quality of Life Publica...
8,ASSISTANT PROGRAM MANAGER,France métropolitaine,CPR certified--SOUTHERN NEW HAMPSHIRE UNIVERISTY-,ASSISTANT PROGRAM MANAGER-HARBOR HOMES-August ...
9,Technical Customer Service,France métropolitaine,Master of Science-EILCO-Engineering school of ...,Technical Customer Service-SmartCo Services LL...